.about-container {
  margin-top: 50px;
  padding: 20px;
  color: white;
  /*box-shadow: 0 0 50px rgba(0,0,0,0.8);
  -moz-box-shadow:  0 0 50px rgba(0,0,0,0.8);
  -webkit-box-shadow:  0 0 50px rgba(0,0,0,0.8);*/
}


.about-text-container {
  padding: 20px;
}

.about-text-container p {
  font-size: 1.5em;
}

.about-name h1 {
  margin: 0;
}

.about-occupation  h2 {
  margin: 0;
  text-align: right;
}

.skills-container {
  margin: 20px 0 20px 0;
}

.icons-container {
  margin-top: 40px;
}
