/*
COLORS

#3e3e41
#12f69c
#41f966
#92f52f
#6BA833

Electric Blue - (135, 205, 255)
*/




.project-container {
  margin-top: 50px;
  padding: 20px;
  color: white;
  box-shadow: 0 0 50px rgba(0,0,0,0.8);
  -moz-box-shadow:  0 0 50px rgba(0,0,0,0.8);
  -webkit-box-shadow:  0 0 50px rgba(0,0,0,0.8);
}


.project-header h1{
  color: white;
  padding: 0 0 20px 0;
}


.video-container {
  height: 360px;  /*This will need to change for each screen*/
  margin-top: 40px;
  margin-bottom: 40px;
}

.video-container iframe {
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.project-page-title {
  margin: 20px 0 20px 0;
}

.project-description {
  color: white;
  padding: 0 20px 0 20px;
}

.code-block {
  max-height: 800px;
  overflow: scroll;
  margin: 20px 60px 20px 60px;
  background-color: rgba(62, 62, 65, 0.75);
}

.code-block code {
  white-space: pre;

}
