
h3 {
  text-decoration: underline;
}

h4 {
  text-decoration: underline;
}


.project-info-container {
  min-width: 300px;
  color: white;
  /*position: fixed;*/
  text-align: right;
}


.project-technologies ul {
  list-style: none;
  padding-left: 0;
}

.project-icons {
  text-align: right;
}

.project-content {
  padding: 20px;
  color: white;
  /*box-shadow: 0 0 50px rgba(0,0,0,0.8);
  -moz-box-shadow:  0 0 50px rgba(0,0,0,0.8);
  -webkit-box-shadow:  0 0 50px rgba(0,0,0,0.8);*/
}

.project-header h1{
  color: white;
  padding: 0 0 20px 0;
}

/*---------------------------*/
/*         IMAGES           */
/*---------------------------*/

.project-image-container {
  width: 100%;
  height: auto;
  padding: 20px;

}

.project-image-container img {
  width: 100%;
  box-shadow: 0 0 50px rgba(0,0,0,0.8);
}

.project-image {
  margin-top: 10px;
  margin-bottom: 10px;
}

.project-image img {
  width: 100%;
  height: auto;
  box-shadow: 0 0 50px rgba(0,0,0,0.8);
}

/*---------------------------*/
/*         VIDEOS           */
/*---------------------------*/

.video-container {
  height: 360px;  /*This will need to change for each screen*/
  margin-top: 40px;
  margin-bottom: 40px;
}

.video-container iframe {
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.project-page-title {
  margin: 20px 0 20px 0;
}

.project-description {
  color: white;
  padding: 20px 20px 20px 20px;
}

.code-block {
  max-height: 800px;
  overflow: scroll;
  margin: 20px 60px 20px 60px;
  background-color: rgba(62, 62, 65, 0.75);
}

.code-block code {
  white-space: pre;
}

.soundcloud-block {
  margin-top: 20px;
  margin-bottom: 20px;
}
