.horizontal-center {
  text-align: center;
}

.project-container {
  margin-top: 50px;
  padding: 20px;
  color: white;
  box-shadow: 0 0 50px rgba(0,0,0,0.8);
  -moz-box-shadow:  0 0 50px rgba(0,0,0,0.8);
  -webkit-box-shadow:  0 0 50px rgba(0,0,0,0.8);
}

/*.video-shell {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
}

.video-shell iframe, .video-shell object, .video-shell embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}*/
