



/*==========  Non-Mobile First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
  .project-info-container {
    position: static;
    text-align: center;
  }

  .project-icons {
    text-align: center;
  }

  .code-block {
    margin: 20px 0 20px 0;
  }
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

  .nav li:not(:last-child) {
    display: none;
  }

  #menu-hamburger {
    display: block;
  }

  .article {
    height: 300px;
  }

  .heading-stitch-divider {
    background: none;
  }

  .video-container {
    height: 300px;
  }

  .about-occupation h2 {
    text-align: left;
  }



}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
  .video-container {
    height: 260px;
  }
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}

/* Custom, specific for footer */
@media only screen and (max-width : 628px) {
  .footer-banner:nth-child(odd) {
    display: none;
  }
}

@media only screen and (max-width : 400px) {

}

/*Change if the viewport is 480 pixels high or higher:*/
@media screen and (min-height: 930px) {
  .icons-container {
    position: static;
  }
}
